/*

GENERAL

*/

hr {
  margin: 0.5rem 0;
}

/*
Home
*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__logo {
  width: 600px;
}

.main__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main__content {
  flex: 1;
  padding: 12px 30px 30px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home__btn {
  font-size: 24px;
  margin: 8px;
  max-width: 100%;
  height: 100px;
  border: none;
  display: grid;
  align-items: center;
  justify-content: center;
}

.home__btns {
  margin-top: 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*
Botones
*/

.btn__add {
  background-color: #2fc02f;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 120ms ease;
}

.btn__add:hover {
  background-color: rgb(55, 206, 87);
}

.form__btn {
  background-color: #f5f5f5;
}

.form__btn:hover {
  background-color: #c0c0c0;
}

/*
Tablas
*/

.table--container {
  max-height: 800px; /* Altura máxima deseada para la tabla */
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */
}

.table--container::-webkit-scrollbar {
  display: none;
}

th {
  background-color: #f5f5f5 !important;
  color: #555 !important;
}

td {
  background-color: #f9f9f9 !important;
  color: #777 !important;
}

td a {
  margin-right: 5px !important;
  color: #777;
}

/*
Navbar
*/

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-item {
  cursor: pointer;
  margin: 0 8px;
}

.btn-secondary {
  background-color: #212529;
  border: none;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color:  var(--bs-btn-hover-bg);
}

.dropdown-toggle {
  border: none;
  background-color: #212529;
}

.nav-link {
  color: var(--bs-emphasis-color);
  padding: 6px 12px;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.nav-pills .nav-link {
  margin-left: 1.25rem;
}

.nav-pills .nav-link.active {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.nav-pills .nav-link.active {
  font-weight: 600;
}

/*

  Maintenance

  */

.maintenance__btns {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.maintenance__btn {
  margin: 8px;
  max-width: 100%;
  height: 80px;
  border: none;
  display: grid;
  align-items: center;
  justify-content: center;
}

.maintenance__btn--inactive {
  cursor: not-allowed !important;
  background-color: #c0c0c0;
}

.maintenance__btn--inactive:hover {
  background-color: #c0c0c0 !important;
}

/*

  Buy-Sell order Page

  */

.buyorder,
.sellorder,
.billing,
.stockentry {
  display: flex;
  justify-content: space-between;
}

.order__btn {
  margin: 8px;
  max-width: 200px;
  height: 68px;
  border: none;
}

.order__btn--inactive {
  cursor: not-allowed !important;
  background-color: #c0c0c0 !important;
}

.order__btn--red {
  background-color: red !important;
}

#threeDotsButton {
  transition: all 0ms !important;
}

.order__left, .order__right {
  padding: 20px;
  width: 50%;
}

.order__right {
  border-left: 1px lightgray solid;
}

/*

  Modals

  */

.modal__background {
  background-color: rgba(202, 202, 202, 0.8);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  opacity: 1;
  width: auto;
  height: auto;
  min-height: 400px;
  /* max-height: 90%;
    overflow: scroll; */
  border: #2b0fc9 1.5px solid;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 500px;
  position: relative;
}

.modal__inactive {
  display: none;
}

.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__content--top {
  display: flex;
  width: 100%;
  justify-content: right;
}

.modal__exit--btn {
  font-size: 18px;
  background-color: red;
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  transition: background-color 120ms ease;
  margin-bottom: 8px;
}

.modal__exit--btn:hover {
  background-color: gray;
}

.modal__table--container {
  max-height: 600px; /* Altura máxima deseada para la tabla */
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */
}

.modal__table--container::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Fijar encabezados */
.table thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

.modal__btn--search {
  margin-left: 20px;
  padding: 0px 8px;
}

.modal__btn--search:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(202, 209, 245);
}

.modal__loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
