/*
Home
*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_logo {
  width: 1000px;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: scroll;
  overflow: scroll;
}

/*
Botones
*/

.btn-add {
  background-color: #2fc02f;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 120ms ease;
}

.btn-add:hover {
  background-color: rgb(55, 206, 87);
}

.form_btn {
  background-color:#f5f5f5;
}

.form_btn:hover {
  background-color: #c0c0c0;
}

/*
Tablas
*/

th {
  background-color: #f5f5f5 !important; 
  color: #555 !important; 
}

td {
  background-color: #f9f9f9 !important;
  color: #777 !important;
}

td a {
  margin-right: 5px !important;
  color: #777;
}

/*
Sidebars
*/

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }

  .sidebar-container {
    height: 100vh;
  }

  .sidebar-height {
    height: 100vh;
  }

  /*

  Maintenance

  */

  .maintenance_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .maintenance_btn {
    margin: 8px;
    max-width: 200px;
    height: 120px;
    border: none;
  }

  .maintenance_btn--inactive {
    cursor: not-allowed !important;
    background-color: #c0c0c0;
  }

  .maintenance_btn--inactive:hover {
    background-color: #c0c0c0 !important;
  }

  /*

  Buy-Sell order Page

  */
  
  .buyorder, .sellorder, .billing, .stockentry {
    display: flex;
    justify-content: space-between;
  }